body{
    background-color:#9b9b9b;
}

header{
    text-align: center;
}

h2{
    text-align: center;
}
#eleccion{
    text-align: center;
}
#opcionesDeJugada{
    display: flex;
    text-align: center;
    justify-content: center;
}
.card{
    width: 18rem;
    margin: 1rem;
}
#contadorDeVictorias{
    text-align: center;
}
#puntaje{
    display: flex;
    justify-content: center;    
}
.contador{
    margin: 0 10px;
}
footer{
    text-align: center;
}